<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Grabber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Hawking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Parser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>920E2ECE195ED92400BBF13A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>920E2EDB195ED92400BBF13A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B319DF38195EDA34008E9B9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B319DF42195EDA34008E9B9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36E82C2195EE985005F57B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36E82CC195EE985005F57B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
